$color-white: #fff;
$color-blue: #102868;
$color-light-blue: #005fd5;
$color-lighter-blue: lighten($color-light-blue, 20%);
$color-gray: #bec0c1;
$color-light-gray: #f9f9f9;
$color-dark-color: #212529;
$color-red: #f00;
$fontRoboto: "Roboto", sans-serif;
$form-font-size: 14px;
