.tree-view {
  background-color: $color-white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-self: center;

  .status-label {
    color: $color-red;
    font-weight: bold;
    margin-top: 10px;
  }

  .status-group {
    border-left: 5px solid $color-red;
    padding-left: 10px;
  }

  .item {
    display: flex;
    margin: 5px 0;
  }

  .item-name {
    font-size: 14px;
    color: $color-lighter-blue;
  }

  .item-code {
    font-size: 14px;
    color: $color-blue;
    margin-right: 0.5rem;
  }
}
