<app-button [config]="{ name: 'common.buttons.add', customClass: 'mb-3' }" (btnClickId)="onClickAdd()" />

<app-table
  [quantity]="5"
  [range]="[5, 100, 5]"
  [totalRecords]="tableTotalRecords"
  [columns]="(columns$ | async) ?? []"
  [rows]="(rows$ | async) ?? previousValue"
  [showControls]="true"
  (buttonEvent)="onDocAction($event)"
/>

<app-trucks-edit *ngIf="modal.visible" [modal]="modal" (closeModal)="onCloseModal()" [dictionaries]="dictionaries" />

<div class="flex-center bg-white"><app-tree-view [data]="(rows$ | async) ?? previousValue" [statusDict]="dictionaries.statusId" /></div>
